In [22]:
import pandas 
import numpy
import matplotlib.pyplot as plt
import importingData
%matplotlib inline

In [ ]:
def make_piBar(things2Plot, labels, title): 
    labels = labels
    sizes = things2Plot
    colors = ['yellowgreen', 'gold', 'lightskyblue', 'lightcoral']
    patches, texts = plt.pie(sizes, colors=colors, shadow=True, startangle=90)
    plt.legend(patches, labels, loc="best")
    plt.axis('equal')
    plt.tight_layout()
    plt.title(title)
    plt.show()

In [ ]:
def stacked_bar(set1, set2, xlabels, yticks, legend): 
    N = 5
    ind = np.arange(N)    # the x locations for the groups
    width = 0.35       # the width of the bars: can also be len(x) sequence

    p1 = plt.bar(ind, set1, width, color='b')
    p2 = plt.bar(ind, set2, width, color='y',
                 bottom=set1)

    plt.ylabel('Immigrant Count')
    plt.title('Immigrants grouped by naturalized and illegal')
    plt.xticks(ind + width/2., tickMarkLabels = xlabels)
#     plt.yticks(np.arange(0, 81, 10))
    plt.yticks(yticks)
    plt.legend((p1[0], p2[0]), legend)

    plt.show()

In [ ]:
def many_bars(x, y1, y2, y3, y4, y5, title, xlabels): 
    x_decreased_by_01 = [y - 0.1 for y in x]
    x_decreased_by_02 = [y - 0.2 for y in x]
    x_increased_by_01 = [y + 0.1 for y in x]
    x_increased_by_02 = [y + 0.2 for y in x]
    print (x_decreased_by_01)
    print (x_decreased_by_02)
    print(x)
    print (x_increased_by_01)
    print(x_increased_by_02)
    
    ax = plt.subplot(111)
    bar1 = ax.bar(x_decreased_by_02, y1,width=0.1,color='b',align='center', label = 'less than hs')
    bar2 = ax.bar(x_decreased_by_01, y2,width=0.1,color='g',align='center', label = 'high school')
    bar3 = ax.bar(x, y3,width=0.1,color='r',align='center', label = 'some college')
    bar4 = ax.bar(x_increased_by_01, y4,width=0.1,color='c',align='center', label = 'bachelors degree')
    bar5 = ax.bar(x_increased_by_02, y5,width=0.1,color='y',align='center', label = 'graduate school')
    plt.legend(handles=[bar1, bar2, bar3, bar4, bar5])
    plt.title(title)
    plt.xticks(x, xlabels)
    plt.show()

In [ ]:
# class getAsianData:
#     def __init__(self):
#         self.asian_data_2014 = pandas.read_csv("Asian_ACS_Foreign_Born_Characteristics_2014.csv"); 

#     def total_asian_population(self): 
#         total_asian_pop = asian_data_2014["HC01_EST_VC01"].iloc[1]
#         total_asian_pop_born_in_Asia = asian_data_2014["HC02_EST_VC01"].iloc[1]
#         total_asian_pop_born_in_East_Asia = asian_data_2014["HC03_EST_VC01"].iloc[1]
#         total_asian_pop_born_in_South_Asia = asian_data_2014["HC04_EST_VC01"].iloc[1]
#         total_asian_pop_born_in_South_Eastern_Asia = asian_data_2014["HC05_EST_VC01"].iloc[1]
#         total_asian_pop_born_in_Western_Asia = asian_data_2014["HC06_EST_VC01"].iloc[1]

#         return [total_asian_pop, total_asian_pop_born_in_Asia, total_asian_pop_born_in_South_Asia, 
#         total_asian_pop_born_in_South_Eastern_Asia, total_asian_pop_born_in_Western_Asia]

#     def getDataFrame(self): 
#         return asian_data_2014

#     def printSomething(self): 
#         print 'something'

In [23]:
print importingData
asian_data = importingData.AsianData()
asian_data

<module 'importingData' from 'importingData.py'>

NameError: global name 'pandas' is not defined

In [ ]:
df.head(10)

In [ ]:
def clean_data(data):
#     print data.isnull().sum()
    data = data.fillna(0)
#     print data.isnull().sum()
    return data

In [ ]:
df_c= clean_data(df)

In [ ]:
df_c["HC01_MOE_VC01"].iloc[1]

Collecting the total foreign born population and then the population for each Asian region because all of the other data is in percentage of the population.

In [ ]:
total_asian_pop = df_c["HC01_EST_VC01"].iloc[1]

In [ ]:
total_asian_pop_born_in_Asia = df_c["HC02_EST_VC01"].iloc[1]

In [ ]:
total_asian_pop_born_in_East_Asia = df_c["HC03_EST_VC01"].iloc[1]

In [ ]:
total_asian_pop_born_in_South_Asia = df_c["HC04_EST_VC01"].iloc[1]

In [ ]:
total_asian_pop_born_in_South_Eastern_Asia =df_c["HC05_EST_VC01"].iloc[1]

In [ ]:
total_asian_pop_born_in_Western_Asia = df_c["HC06_EST_VC01"].iloc[1]

NOW EXPLORE THE NUMBER OF NATURALIZED VERSUS ILLIGAL IMMIGRANTS HERE

In [ ]:
percent_asian_born_in_Asia_
set1 = total_asian_pop_born_in_Asia 
stacked_bar()

NOW EXPLORING SCHOOL ENROLLMENT

First, we will plot the number of asians (I think born in the USA) that are attending school and which percentage of them are in which grade levels. Interestingly enough below, we see that the majority of Asian students are in College, but very few of them are in preschool.

In [ ]:
pop_3_years_and_older_enrolled_in_school_total = df_c["HC01_EST_VC57"]
pop_3_years_and_older_enrolled_in_school_total_nursery = df_c["HC01_EST_VC58"]
pop_3_years_and_older_enrolled_in_school_total_elem = df_c["HC01_EST_VC59"]
pop_3_years_and_older_enrolled_in_school_total_high = df_c["HC01_EST_VC60"]
pop_3_years_and_older_enrolled_in_school_total_college = df_c["HC01_EST_VC61"]
make_piBar([pop_3_years_and_older_enrolled_in_school_total_nursery.iloc[1],
            pop_3_years_and_older_enrolled_in_school_total_elem.iloc[1], 
            pop_3_years_and_older_enrolled_in_school_total_high.iloc[1], 
            pop_3_years_and_older_enrolled_in_school_total_college.iloc[1]
           ], 
           labels = ['Nursery School', 'Elementary School', 'High School', 'College'], 
          title = "Asians in 2014 enrolled in school. Total Asians in School is " + pop_3_years_and_older_enrolled_in_school_total.iloc[1])

In [ ]:
pop_3_years_and_older_enrolled_in_school_born_in_Asia_total = df_c["HC02_EST_VC57"]
pop_3_years_and_older_enrolled_in_school_born_in_Asia_nursery = df_c["HC02_EST_VC58"]
pop_3_years_and_older_enrolled_in_school_born_in_Asia_elem = df_c["HC02_EST_VC59"]
pop_3_years_and_older_enrolled_in_school_born_in_Asia_high = df_c["HC02_EST_VC60"]
pop_3_years_and_older_enrolled_in_school_born_in_Asia_college = df_c["HC02_EST_VC61"]
make_piBar([pop_3_years_and_older_enrolled_in_school_born_in_Asia_nursery.iloc[1],
            pop_3_years_and_older_enrolled_in_school_born_in_Asia_elem.iloc[1], 
            pop_3_years_and_older_enrolled_in_school_born_in_Asia_high.iloc[1], 
            pop_3_years_and_older_enrolled_in_school_born_in_Asia_college.iloc[1]
           ], 
           labels = ['Nursery School', 'Elementary School', 'High School', 'College'], 
          title = "Asians (born in Asia) in 2014 enrolled in school. Total Asians (born in Asia) in School is " + pop_3_years_and_older_enrolled_in_school_born_in_Asia_total.iloc[1])

In [ ]:
pop_3_years_and_older_enrolled_in_school_born_in_Eastern_Asia_total = df_c["HC03_EST_VC57"]
pop_3_years_and_older_enrolled_in_school_born_in_Eastern_Asia_nursery = df_c["HC03_EST_VC58"]
pop_3_years_and_older_enrolled_in_school_born_in_Eastern_Asia_elem = df_c["HC03_EST_VC59"]
pop_3_years_and_older_enrolled_in_school_born_in_Eastern_Asia_high = df_c["HC03_EST_VC60"]
pop_3_years_and_older_enrolled_in_school_born_in_Eastern_Asia_college = df_c["HC03_EST_VC61"]
make_piBar([pop_3_years_and_older_enrolled_in_school_born_in_Eastern_Asia_nursery.iloc[1],
            pop_3_years_and_older_enrolled_in_school_born_in_Eastern_Asia_elem.iloc[1], 
            pop_3_years_and_older_enrolled_in_school_born_in_Eastern_Asia_high.iloc[1], 
            pop_3_years_and_older_enrolled_in_school_born_in_Eastern_Asia_college.iloc[1]
           ], 
           labels = ['Nursery School', 'Elementary School', 'High School', 'College'], 
          title = "Eastern Asians in 2014 enrolled in school. Total Eastern Asians in School is " + pop_3_years_and_older_enrolled_in_school_born_in_Eastern_Asia_total.iloc[1])

In [ ]:
pop_3_years_and_older_enrolled_in_school_born_in_South_Central_Asia_total = df_c["HC04_EST_VC57"]
pop_3_years_and_older_enrolled_in_school_born_in_South_Central_Asia_nursery = df_c["HC04_EST_VC58"]
pop_3_years_and_older_enrolled_in_school_born_in_South_Central_Asia_elem = df_c["HC04_EST_VC59"]
pop_3_years_and_older_enrolled_in_school_born_in_South_Central_Asia_high = df_c["HC04_EST_VC60"]
pop_3_years_and_older_enrolled_in_school_born_in_South_Central_Asia_college = df["HC04_EST_VC61"]
make_piBar([pop_3_years_and_older_enrolled_in_school_born_in_South_Central_Asia_nursery.iloc[1],
            pop_3_years_and_older_enrolled_in_school_born_in_South_Central_Asia_elem.iloc[1], 
            pop_3_years_and_older_enrolled_in_school_born_in_South_Central_Asia_high.iloc[1], 
            pop_3_years_and_older_enrolled_in_school_born_in_South_Central_Asia_college.iloc[1]
           ], 
           labels = ['Nursery School', 'Elementary School', 'High School', 'College'], 
          title = "South Central Asians in 2014 enrolled in school. Total South Central Asians in School is " + pop_3_years_and_older_enrolled_in_school_born_in_South_Central_Asia_total.iloc[1])

In [ ]:
pop_3_years_and_older_enrolled_in_school_born_in_South_Eastern_Asia_total = df_c["HC05_EST_VC57"]
pop_3_years_and_older_enrolled_in_school_born_in_South_Eastern_Asia_nursery = df_c["HC05_EST_VC58"]
pop_3_years_and_older_enrolled_in_school_born_in_South_Eastern_Asia_elem = df_c["HC05_EST_VC59"]
pop_3_years_and_older_enrolled_in_school_born_in_South_Eastern_Asia_high = df_c["HC05_EST_VC60"]
pop_3_years_and_older_enrolled_in_school_born_in_South_Eastern_Asia_college = df_c["HC05_EST_VC61"]
make_piBar([pop_3_years_and_older_enrolled_in_school_born_in_South_Eastern_Asia_nursery.iloc[1],
            pop_3_years_and_older_enrolled_in_school_born_in_South_Eastern_Asia_elem.iloc[1], 
            pop_3_years_and_older_enrolled_in_school_born_in_South_Eastern_Asia_high.iloc[1], 
            pop_3_years_and_older_enrolled_in_school_born_in_South_Eastern_Asia_college.iloc[1]
           ], 
           labels = ['Nursery School', 'Elementary School', 'High School', 'College'], 
          title = "South Eastern Asians in 2014 enrolled in school. Total South Eastern Asians in School is " + pop_3_years_and_older_enrolled_in_school_born_in_South_Eastern_Asia_total.iloc[1])

In [ ]:
pop_3_years_and_older_enrolled_in_school_born_in_Western_Asia_total = df_c["HC05_EST_VC57"]
pop_3_years_and_older_enrolled_in_school_born_in_Western_Asia_nursery = df_c["HC05_EST_VC58"]
pop_3_years_and_older_enrolled_in_school_born_in_Western_Asia_elem = df_c["HC05_EST_VC59"]
pop_3_years_and_older_enrolled_in_school_born_in_Western_Asia_high = df_c["HC05_EST_VC60"]
pop_3_years_and_older_enrolled_in_school_born_in_Western_Asia_college = df_c["HC05_EST_VC61"]
make_piBar([pop_3_years_and_older_enrolled_in_school_born_in_Western_Asia_nursery.iloc[1],
            pop_3_years_and_older_enrolled_in_school_born_in_Western_Asia_elem.iloc[1], 
            pop_3_years_and_older_enrolled_in_school_born_in_Western_Asia_high.iloc[1], 
            pop_3_years_and_older_enrolled_in_school_born_in_Western_Asia_college.iloc[1]
           ], 
           labels = ['Nursery School', 'Elementary School', 'High School', 'College'], 
          title = "Western Asians in 2014 enrolled in school. Total Western Asians in School is " + pop_3_years_and_older_enrolled_in_school_born_in_Western_Asia_total.iloc[1])

NOW EXPLORING IN 2014, THE COLLEGE EDUCATION DATA 
This is for invididuals greater than 25

Getting all of the populations because everything is a fraction of this population.

In [ ]:
educ_attainment_pop_total = df["HC01_EST_VC64"]
less_than_hs_grad_total = df["HC01_EST_VC65"] 
hs_grad_total = df["HC01_EST_VC66"]
some_college_total = df["HC01_EST_VC67"]
bachelors_degree_total = df["HC01_EST_VC68"]
graduate_degree_total = df["HC01_EST_VC69"]

In [ ]:
total = int(educ_attainment_pop_total.iloc[1])/100

many_bars(0, float(less_than_hs_grad_total.iloc[1])*total, float(hs_grad_total.iloc[1])*total, 
         float(some_college_total.iloc[1])* total, 
          float(bachelors_degree_total.iloc[1])*total, 
          float(graduate_degree_total.iloc[1])*total, 'Educational Obtainment of all Asians', 
          ['less than high school', 'high school', 'some college', 'bachelors degree', 'graduate degree' ])
print float(less_than_hs_grad_total.iloc[1])*total

In [ ]:
educ_attainment_pop_born_in_Asia = df["HC02_EST_VC64"].iloc[1]
less_than_hs_grad_born_in_Asia = df["HC02_EST_VC65"].iloc[1]
hs_grad_total_born_in_Asia = df["HC02_EST_VC66"].iloc[1]
some_college_born_in_Asia = df["HC02_EST_VC67"].iloc[1]
bachelors_degree_born_in_Asia = df["HC02_EST_VC68"].iloc[1]
graduate_degree_born_in_Asia = df["HC02_EST_VC69"].iloc[1]

In [ ]:
educ_attainment_pop_born_in_Eastern_Asia = df["HC03_EST_VC64"].iloc[1]
less_than_hs_grad_born_in_Eastern_Asia = df["HC03_EST_VC65"].iloc[1]
hs_grad_total_born_in_Eastern_Asia = df["HC03_EST_VC66"].iloc[1]
some_college_born_in_Eastern_Asia = df["HC03_EST_VC67"].iloc[1]
bachelors_degree_born_in_Eastern_Asia = df["HC03_EST_VC68"].iloc[1]
graduate_degree_born_in_Eastern_Asia = df["HC03_EST_VC69"].iloc[1]
graduate_degree_born_in_Eastern_Asia

In [ ]:
educ_attainment_pop_born_in_South_Central_Asia = df["HC04_EST_VC64"].iloc[1]
less_than_hs_grad_born_in_South_Central_Asia = df["HC04_EST_VC65"].iloc[1]
hs_grad_total_born_in_South_Central_Asia = df["HC04_EST_VC66"].iloc[1]
some_college_born_in_South_Central_Asia = df["HC04_EST_VC67"].iloc[1]
bachelors_degree_born_in_South_Central_Asia = df["HC04_EST_VC68"].iloc[1]
graduate_degree_born_in_South_Central_Asia = df["HC04_EST_VC69"].iloc[1]
graduate_degree_born_in_South_Central_Asia

In [ ]:
educ_attainment_pop_born_in_South_Eastern_Asia = df["HC05_EST_VC64"].iloc[1]
less_than_hs_grad_born_in_South_Eastern_Asia = df["HC05_EST_VC65"].iloc[1]
hs_grad_total_born_in_South_Eastern_Asia = df["HC05_EST_VC66"].iloc[1]
some_college_born_in_South_Eastern_Asia = df["HC05_EST_VC67"].iloc[1]
bachelors_degree_born_in_South_Eastern_Asia = df["HC05_EST_VC68"].iloc[1]
graduate_degree_born_in_South_Eastern_Asia = df["HC05_EST_VC69"].iloc[1]
graduate_degree_born_in_South_Eastern_Asia

In [ ]:
educ_attainment_pop_born_in_Western_Asia = df["HC06_EST_VC64"].iloc[1]
less_than_hs_grad_born_in_Western_Asia = df["HC06_EST_VC65"].iloc[1]
hs_grad_total_born_in_Western_Asia = df["HC06_EST_VC66"].iloc[1]
some_college_born_in_Western_Asia = df["HC06_EST_VC67"].iloc[1]
bachelors_degree_born_in_Western_Asia = df["HC06_EST_VC68"].iloc[1]
graduate_degree_born_in_Western_Asia = df["HC06_EST_VC69"].iloc[1]
graduate_degree_born_in_Western_Asia

In [ ]:
total_born_in_Asia = int(educ_attainment_pop_born_in_Asia)/100
total_born_in_Eastern_Asia = int(educ_attainment_pop_born_in_Eastern_Asia)/100
total_born_in_South_Central_Asia = int(educ_attainment_pop_born_in_South_Central_Asia)/100
total_born_in_South_Eastern_Asia = int(educ_attainment_pop_born_in_South_Eastern_Asia)/100
total_born_in_Western_Asia = int(educ_attainment_pop_born_in_Western_Asia)/100

In [ ]:
y = [float(less_than_hs_grad_born_in_Asia)*total_born_in_Asia, 
    float(less_than_hs_grad_born_in_Eastern_Asia)*total_born_in_Eastern_Asia,
    float(less_than_hs_grad_born_in_South_Central_Asia)*total_born_in_South_Central_Asia, 
    float(less_than_hs_grad_born_in_South_Eastern_Asia)*total_born_in_South_Eastern_Asia, 
    float(less_than_hs_grad_born_in_Western_Asia)*total_born_in_Western_Asia]

In [ ]:
k = [float(hs_grad_total_born_in_Asia)*total_born_in_Asia, float(hs_grad_total_born_in_Eastern_Asia)*total_born_in_Eastern_Asia, 
     float(hs_grad_total_born_in_South_Central_Asia)*total_born_in_South_Central_Asia, 
    float(hs_grad_total_born_in_South_Eastern_Asia)*total_born_in_South_Eastern_Asia, 
     float(hs_grad_total_born_in_Western_Asia)*total_born_in_Western_Asia ]

In [ ]:
z = [float(some_college_born_in_Asia)*total_born_in_Asia, float(some_college_born_in_Eastern_Asia)*total_born_in_Eastern_Asia, 
     float(some_college_born_in_South_Central_Asia)*total_born_in_South_Central_Asia, 
    float(some_college_born_in_South_Eastern_Asia)*total_born_in_South_Eastern_Asia,
     float(some_college_born_in_Western_Asia)*total_born_in_Western_Asia]

In [ ]:
x = [float(bachelors_degree_born_in_Asia)*total_born_in_Asia, float(bachelors_degree_born_in_Eastern_Asia)*total_born_in_Eastern_Asia, 
     float(bachelors_degree_born_in_South_Central_Asia)*total_born_in_South_Central_Asia, 
    float(bachelors_degree_born_in_South_Eastern_Asia)*total_born_in_South_Eastern_Asia, 
     float(bachelors_degree_born_in_Western_Asia)*total_born_in_Western_Asia]

In [ ]:
t = [float(graduate_degree_born_in_Asia)*total_born_in_Asia, float(graduate_degree_born_in_Eastern_Asia)*total_born_in_Eastern_Asia, 
     float(graduate_degree_born_in_South_Central_Asia)*total_born_in_South_Central_Asia, 
    float(graduate_degree_born_in_South_Eastern_Asia)*total_born_in_South_Eastern_Asia,
     float(graduate_degree_born_in_Western_Asia)*total_born_in_Western_Asia]

In [ ]:
total = int(educ_attainment_pop_total.iloc[1])/100
many_bars([0, 1, 2, 3, 4], y, k, z, x, t, 'Educational Obtainment of all Asians', ['Born in Asia', 'E Asia', 
                                                                                   'SC Asia', 'SE Asia', 
                                                                                  'W Asia'])

In [ ]:
educ_attainment_pop_born_in_Asia = df["HC02_EST_VC64"]
educ_attainment_pop_born_in_Eastern_Asia = df["HC03_EST_VC64"] 
educ_attainment_pop_born_in_South_Central_Asia = df["HC04_EST_VC64"] 
educ_attainment_pop_born_in_South_Eastern_Asia = df["HC05_EST_VC64"]
educ_attainment_pop_born_in_Western_Asia = df["HC06_EST_VC64"]