In [108]:
%matplotlib inline

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [194]:
df = {}
for i in range(8):
    if i < 4:
        df[i] = pd.read_table('lpr_200'+str(i+6)+'.csv')
    else:
        df[i] = pd.read_table('lpr_20'+str(i+6)+'.csv')
    df[i] = df[i][0:8]
    df[i] = df[i].reindex(df[i].index.delete(4))

print df[4].shape

(7, 57)

In [195]:
df[0]

,Origin,Total,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,...,Texas,U.S. Armed Services Posts,U.S. Dependencies,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,Total,1266264,4278,1554,21530,2926,264677,12714,18700,2265,...,89037,95,7080,5749,895,38488,23805,764,8341,376
1,Africa,117430,441,40,1804,143,9384,1843,1220,430,...,8623,6,21,602,246,7157,3057,78,688,23
2,Asia,422333,1739,819,4628,959,121890,3460,4345,751,...,24601,46,2131,1228,243,14433,9600,345,3706,123
3,Europe,164285,648,293,2235,274,25822,2181,4312,271,...,5261,14,182,745,189,3471,6144,131,1506,80
5,Northern America,240343,592,177,1918,417,27606,1008,3840,394,...,9814,15,3777,640,150,6489,1605,112,650,47
6,Oceania,7385,24,41,122,24,3001,160,85,4,...,270,0,20,211,16,104,377,7,55,16
7,Latin America,311754,818,180,10783,1103,76130,4045,4870,412,...,40327,14,937,2309,51,6784,2991,91,1720,87

In [181]:
def clean(x):
    try:
        return int(x)
    except:
        pass

for i in range(8):
    df[i].fillna(0)