In [1]:
import pandas 
import numpy
import matplotlib.pyplot as plt
import importingData
%matplotlib inline

/home/casey/anaconda/lib/python2.7/site-packages/pandas/computation/__init__.py:19: UserWarning: The installed version of numexpr 2.4.4 is not supported in pandas and will be not be used

  UserWarning)

In [4]:
def make_piBar(things2Plot, labels, title):
    labels = labels
    sizes = things2Plot
    colors = ['yellowgreen', 'gold', 'lightskyblue', 'lightcoral']
    patches, texts = plt.pie(sizes, colors=colors, shadow=True, startangle=90)
    plt.legend(patches, labels, loc="best")
    plt.axis('equal')
    plt.tight_layout()
    plt.title(title)
    plt.show()

In [7]:
def make_piBar_multiple(things2Plot1, things2Plot2, things2Plot3, things2Plot4):
    plt.figure(figsize=(20, 7))
    ax1 = plt.subplot(1, 4, 1)
    labels = ['Nursery School', 'Elementary School', 'High School', 'College']
    colors = ['yellowgreen', 'gold', 'lightskyblue', 'lightcoral']
    patches= plt.pie(things2Plot1, colors=colors, autopct='%1.1f%%')
    plt.legend(patches, labels = labels, loc="best")
    plt.tight_layout()
    plt.title('People Born in Africa enrolled in School', fontsize = 15)
    
    ax2 = plt.subplot(1, 4, 2)
    colors = ['yellowgreen', 'gold', 'lightskyblue', 'lightcoral']
    patches= plt.pie(things2Plot2, colors=colors, autopct='%1.1f%%')
    plt.legend(patches, labels = labels, loc="best")
    plt.tight_layout()
    plt.title('People Born in North America enrolled in School', fontsize = 15)
    
    ax3 = plt.subplot(1, 4, 3)
    colors = ['yellowgreen', 'gold', 'lightskyblue', 'lightcoral']
    patches= plt.pie(things2Plot3, colors=colors, autopct='%1.1f%%')
    plt.legend(patches, labels = labels, loc="best")
    plt.tight_layout()
    plt.title('People Born in Oceania enrolled in School', fontsize = 15)
    
    ax4 = plt.subplot(1, 4, 4)
    colors = ['yellowgreen', 'gold', 'lightskyblue', 'lightcoral']
    patches= plt.pie(things2Plot4, colors=colors, autopct='%1.1f%%')
    plt.legend(patches, labels = labels, loc="best")
    plt.tight_layout()
    plt.title('People Born in Oceania enrolled in School', fontsize = 15)
    
    
    plt.show()

First, we are importing the data from the EuropeanData class in importingData.py file.

In [2]:
europeanData = importingData.EuropeanData()
df_europe_2014 = europeanData.european_data_2014

We can print the head of the data frame. For some reason, the GEO.id2 is NaN. However, this is not important to the data we need.

In [3]:
df_europe_2014.head()

,GEO.id,GEO.id2,GEO.display-label,HC01_EST_VC01,HC01_MOE_VC01,HC02_EST_VC01,HC02_MOE_VC01,HC03_EST_VC01,HC03_MOE_VC01,HC04_EST_VC01,...,HC04_EST_VC197,HC04_MOE_VC197,HC01_EST_VC198,HC01_MOE_VC198,HC02_EST_VC198,HC02_MOE_VC198,HC03_EST_VC198,HC03_MOE_VC198,HC04_EST_VC198,HC04_MOE_VC198
0,Id,Id2,Geography,Total; Estimate; Foreign-born population,Total; Margin of Error; Foreign-born population,Foreign born; Born in Europe; Estimate; Foreig...,Foreign born; Born in Europe; Margin of Error;...,Foreign born; Born in Northern and Western Eur...,Foreign born; Born in Northern and Western Eur...,Foreign born; Born in Southern and Eastern Eur...,...,Foreign born; Born in Southern and Eastern Eur...,Foreign born; Born in Southern and Eastern Eur...,Total; Estimate; Renter-occupied housing units...,Total; Margin of Error; Renter-occupied housin...,Foreign born; Born in Europe; Estimate; Renter...,Foreign born; Born in Europe; Margin of Error;...,Foreign born; Born in Northern and Western Eur...,Foreign born; Born in Northern and Western Eur...,Foreign born; Born in Southern and Eastern Eur...,Foreign born; Born in Southern and Eastern Eur...
1,0100000US,NaN,United States,42391794,130122,4764822,45299,1890373,24155,2864783,...,52.5,1.0,52.7,0.3,46.5,0.9,44.5,1.5,47.5,1.0

Plotting the schools European students are enrolled in for each region. We would like to see where the students are, grade wise, by plotting the pie bars

In [14]:
enrolled_in_school_total_europe = europeanData.enrolled_in_school_total()
enrolled_in_school_born_in_europe = europeanData.enrolled_in_school_born_in_Europe()
enrolled_in_school_born_in_nothern_and_western_europe = europeanData.enrolled_in_school_born_in_Nothern_and_Western_Europe()
enrolled_in_school_born_in_southern_and_eastern_europe = europeanData.enrolled_in_school_born_in_Southern_and_Eastern_Europe()

In [ ]:
make_piBar_multiple(enrolled_in_school_total_europe, enrolled_in_school_born_in_europe, enrolled_in_school_born_in_nothern_and_western_europe, enrolled_in_school_born_in_southern_and_eastern_europe)